@{
    ViewBag.Title = "Home Page";
}
@section scripts{
    <script type="text/javascript">
        require(['/Scripts/app/common.js'], function () {
            require(['projects/main']);
        });
    </script>
}

<ul class="nav nav-pills">
    <li data-bind="css: {active: tab() == 'tab1'}"><a href="#" data-bind="click: function(){tab('tab1')}">tab 1</a></li>
    <li data-bind="css: {active: tab() == 'tab2'}"><a href="#" data-bind="click: function(){tab('tab2')}">tab 2</a></li>
</ul>
<div data-bind="component: tab()"></div>