@{
    ViewBag.Title = "Home Page";
}
@section scripts{
    <script type="text/javascript"> require(['projects/main']); </script>
}

<div data-bind="component: {}"></div>
<div data-bind="component: {}"></div>