
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@Html.ActionLink("Utilization", "Index", "Utilization")
@Html.ActionLink("Resourcing", "Index", "Resourcing")

